{% extends 'base.html' %} {% block corousal %}
<br />
{% endblock %} {% block content %}
<br /><br />
<div class="jumbotron text-center hoverable p-4">
  <!-- Member 1 -->
  <div class="row">
    <div class="col-md-4 offset-md-1 mx-3 my-3">
      <div class="view overlay">
        <img
          src="../static/images/shreya.jfif"
          height="300px"
          width="400px"
          class="img-fluid"
          alt="Authors Image"
        />
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <div class="col-md-7 text-md-left ml-3 mt-3">
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> About</h6>
      </a>
      <p class="font-weight-normal">
        Being a technology enthusiast, I love exploring new technologies and leveraging them to solve real-life problems. I am passionate about Web Dev, Machine Learning,Coding along with the ability to learn new concepts and have great ideas. I’m driven by the will to create an impact and encourage diversity.
      </p>
      <p class="font-weight-normal">
        by <a><strong>Shreya Singh</strong></a
        >, 04/10/2021
      </p>
      <a class="btn btn-success" href="\index">Back</a>
    </div>
  </div>

  <!-- Member 2 -->
  <div class="row">
    <div class="col-md-4 offset-md-1 mx-3 my-3">
      <div class="view overlay">
        <img
          src="../static/images/ayushi.jfif"
          height="300px"
          width="400px"
          class="img-fluid"
          alt="Authors Image"
        />
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <div class="col-md-7 text-md-left ml-3 mt-3">
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> About</h6>
      </a>
      <p class="font-weight-normal">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam quae
        aperiam veritatis, voluptatem, veniam fuga, dignissimos unde nulla
        voluptates quam tenetur! Architecto explicabo dicta officiis
        consequuntur cupiditate similique dolorum in temporibus. Debitis in fuga
        temporibus eveniet suscipit laudantium quas impedit, dicta eligendi at
        officia, eum nemo ipsa, sed corporis dignissimos.
      </p>
      <p class="font-weight-normal">
        by <a><strong>Ayushi Porwal</strong></a
        >, 04/10/2021
      </p>
      <a class="btn btn-success" href="\index">Back</a>
    </div>
  </div>

  <!-- Member 3 -->
  <div class="row">
    <div class="col-md-4 offset-md-1 mx-3 my-3">
      <div class="view overlay">
        <img
          src="../static/images/anuj.jpeg"
          height="300px"
          width="400px"
          class="img-fluid"
          alt="Authors Image"
        />
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <div class="col-md-7 text-md-left ml-3 mt-3">
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> About</h6>
      </a>
      <p class="font-weight-normal">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam quae
        aperiam veritatis, voluptatem, veniam fuga, dignissimos unde nulla
        voluptates quam tenetur! Architecto explicabo dicta officiis
        consequuntur cupiditate similique dolorum in temporibus. Debitis in fuga
        temporibus eveniet suscipit laudantium quas impedit, dicta eligendi at
        officia, eum nemo ipsa, sed corporis dignissimos.
      </p>
      <p class="font-weight-normal">
        by <a><strong>Anuj Kumar Pal</strong></a
        >, 04/10/2021
      </p>
      <a class="btn btn-success" href="\index">Back</a>
    </div>
  </div>

  <!-- Member 4 -->
  <div class="row">
    <div class="col-md-4 offset-md-1 mx-3 my-3">
      <div class="view overlay">
        <img
          src="../static/images/anurag.jpeg"
          height="300px"
          width="400px"
          class="img-fluid"
          alt="Authors Image"
        />
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>
    </div>
    <div class="col-md-7 text-md-left ml-3 mt-3">
      <a href="#!" class="green-text">
        <h6 class="h6 pb-1"><i class="fas fa-desktop pr-1"></i> About</h6>
      </a>
      <p class="font-weight-normal">
        Being a technology enthusiast, I love exploring new technologies and leveraging them to solve real-life problems. I am passionate about Web Dev, Machine Learning,Coding along with the ability to learn new concepts and have great ideas. I’m driven by the will to create an impact and encourage diversity.
      </p>
      <p class="font-weight-normal">
        by <a><strong>Anurag Mishra</strong></a
        >, 04/10/2021
      </p>
      <a class="btn btn-success" href="\index">Back</a>
    </div>
  </div>
</div>

{% endblock %}
